<html>
    <head>
        <link rel="stylesheet" href="style.css">
        
    </head>
<body>
    
    <h3>
        <a href="/">
            <button>Home</button>
        </a>
        <a href="/booklist">
            <button>Book List</button>
        </a>
        <a href="/newbook">
            <button>Add Book</button>
        </a>
        <a href="/authorlist">
            <button>Author List</button>
        </a>
        <a href="/newauthor">
            <button>Add Author</button>
        </a>
        <a href="/updateauthorbooknum">
            <button>Update Author book number</button>
        </a>
    </h3>
    <h1>Delete Book</h1></br>
    
    <form action="/deletebookdata" method="POST">
        ISBN <input type="number"  name="deleteisbn" required/> </br>
        <input type="submit" value="Submit" /> </br>
    </form>
</body>
</html>