<html>
    <head>
            <link rel="stylesheet" href="style.css">
            
        </head>
        <header>
            <img src="logo.jpg" class = "center" height="250">
        </header>
  <body>
   
      <h1>
          Library App
      </h1>
    <a href="/newbook">
        <button>Add book</button>
    </a>
    <a href="/newauthor">
        <button>Add Author</button>
    </a>

    <a href="/booklist">
        <button>Book List</button>
    </a>
    <a href="/authorlist">
        <button>Author List</button>
    </a>
    <a href="/deletebook">
        <button>Delete book by ISBN</button>
    </a>
    
    <a href="/updateauthorbooknum">
        <button>Update Author book number</button>
    </a>
  </body>
</html>